*{
    margin: 0;
    padding: 0;
}

.main{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1440px;
    /* border: solid red; */
    

  }
  .titulo{
    color: #0098EF;
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }



.fila1{
    margin-top: 20px;
    
}
.fila2{
    margin-top: 20px;
}

.fila3{
    display: flex;
    justify-content: center;
}
.boton{
    width: 308px;
    height: 57px;
    border-radius: 15px;
    

}

.boton-mas{
    width: 636px;
    height: 150px;
    margin-top: 20px;
    border-radius: 15px;
}

.boton-enviar{
    background:#6D0AD3 ;
    width: 144px;
    height: 57px;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    border: none;
    
}