*{
    margin: 0;
    padding: 0;
}
/* Cesar MARCA */

.main{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1840PX;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 250px 20px 250px;
}
.logo{
    position: relative;
    margin-left: 25px;
    width: 620px;
}
.h2-green{
    color: #00CF95;
}
li{
    display: inline;
}
a{
    text-decoration: none;
    font-size: 14px;
    margin-right: 50px;
}
.container-h{
    display: flex;
    justify-content: space-evenly;
}

h1{
    font-size: 16px;
    margin-bottom: 15px;
}
h2{
    font-size: 32px;
    margin-bottom: 18px;
}
h3{
    font-size: 40px;
    color: #00cf95;
    margin-bottom: 15px;
}
.service{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.service div{
    background-color: #90ead1;
    width: 4.26px;
    height: 104px;
    margin-left: 5px;
}
 p{
    font-size: 13px;
    line-height: 24px;
    width: 351.29px;
    margin-left: 10px;
}
.social{
    display: flex;
    align-items: center;
}
.social button{
    padding: 15px 40px 15px 40px;
    margin-left: 3px;

}
.social div{
    margin-left: 35px;
}

.social a{
    margin-right: 12px;
}
/* foto de perfil sebastian */
.foto div{
    background-color: #D1FFA2;
    width: 326px;
    height: 326px;
    border-radius: 50%;
}
.down{
    width: 120px;
    height: 120px;
    margin: auto;
    margin-top: 27px;
    text-align: center;
}
.down p{
    color: #00CF95;
    font-size: 13px;
    margin-top: 7px;
    width: 100px;
}
button{
    border: none;
    background-color: #6D0AD3;
    color: white;
}
/* service */
h4{
    color: #5FBFF5;
    font-weight: bold;
}
.servicess{
    width: 540px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 700px;
    /* height: 40vh; */

}

.servicess div{
    display: flex;
    width: 308px;
    height: 218px;
    border: solid 8px #D1FFA2;
    background-color: #00CF95;
    margin-top: 20px;
}
.servicess img{
    margin: 22px;
}
.servicess p{
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #6D0AD3;
    padding: 20px;
    background-color:  #D1FFA2;
    margin-top: 150px;
    margin-bottom: 1000px;
    border-radius: 8px;
    font-weight: bold;
    width: 1440px;
    

  }
  .titulo{
    color: #0098EF;
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }



.fila1{
    margin-top: 20px;
    
}
.fila2{
    margin-top: 20px;
}

.fila3{
    display: flex;
    justify-content: center;
}
.boton{
    width: 308px;
    height: 57px;
    border-radius: 15px;
    

}

.boton-mas{
    width: 636px;
    height: 150px;
    margin-top: 20px;
    border-radius: 15px;
}

.boton-enviar{
    background:#6D0AD3 ;
    width: 144px;
    height: 57px;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    border: none;
    
}
/* Cristhian Medina */
*{
    margin: 0;
    padding: 0;

}
.contenedor {
    display: flex;
    justify-content: center;
    width: 1440px;
    margin-top: 40px;
    align-items: center;
    height: 200px;
    line-height: 50px;

}
.imagen{
    width: 20px;
    
}
.imagenes{
    margin-left: 90px;
    margin-bottom: 80px;
}
.gracias{
    display: flex;
    height: px;
    width: 140px;
    text-align: center;
    align-items: center;
    margin-left: 140px;
    color: rgba(0, 207, 149, 1);
    ;
}
.clases{
    display: flex;
    justify-content: space-around;
    width: 500px;
}
.corazon{
    margin-right: 70px;
    justify-content: center;
    text-align: center;
}
.Sobre:hover{
    border-bottom: solid blueviolet;
    color: blueviolet;
}
.logo{
    justify-content: left;
    
}
.contenedor_logo{
    display: flex;
    width: 100px;
    margin-right: 200px;
    margin-bottom: 100px;
}

.producto{
    height: 300px;
    width: 1440px;
    
    display: flex;
    
}
.producto div {
    flex: 1; 
    padding: 20px; 
}

.parteA {
    display: flex;
    padding: 20px;
  }
  .parteA .izquierda {
    flex: 60%; /* 70% de ancho y puede crecer o encoger */
  }

  
  .parteA .derecha {
    flex: 40%; /* 30% de ancho y puede crecer o encoger */
  }
  .derecha p{
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
  }

  .parteB {
    display: flex;
  }
  
  .parteB .izquierda {
    flex: 30%; /* 70% de ancho y puede crecer o encoger */
  }
  
  .parteB .derecha {
    flex: 70%; /* 30% de ancho y puede crecer o encoger */

  }

  .imageA{
    background-image: url("./Imagenes2/imagen1.jpg");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    height: 50%;
    border: 4px solid #5A0CB0
  }
  .imageB{
    background-image: url("./Imagenes2/imagen2.jpg");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    height: 80%;
    border: 4px solid #5A0CB0
  }

  .cuerpoDerecha {
    display: flex;
    flex-direction: column;
  }
  
  .cuerpoDerecha > div {
    flex: 1;
  }
.imagencuerpoDerecha{
    background-image: url("./Imagenes2/imagen4.jpg");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    border: 4px solid #5A0CB0;
    height: 100%;
}
.derecha {
    display: flex;
    flex-direction: column;
  }
  
  .derecha > div {
    flex: 1;
   
  }

.imagenDerecha{
    background-image: url("./Imagenes2/imagen4.jpg");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    border: 5px solid #daf105;
    height: 90%;
}
.imageC{
    background-image: url("./Imagenes2/imagen6.jpg");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    border: 5px solid #daf105;
    height: 90%;
}

.parteC {
    display: flex;
  }
  .parteC .izquierda {
    flex: 40%; /* 70% de ancho y puede crecer o encoger */
  }

  
  .parteC .derecha {
    flex: 60%; /* 30% de ancho y puede crecer o encoger */
  }
 


  /* Anthoni */

*{
    margin: 0px;
    padding: 0px;
}

.Caja-principal{
    width: 958px;
    height: 532px;
    

}

.Titulo{
    color: #0098EF;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.TituloB{
    color: #0098EF;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: left; /* Alinea el texto hacia la izquierda */
    padding-right: 900px;
}

.rectangulo1{
    width: 224px;
    height: 220px;
    flex-shrink: 0;
    background-image: url(./imagenes/Rectangle\ 4.png);
    color: white;
    font-family: Raleway;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 19.5px;
}

.rectangulo2{
    width: 224px;
    height: 220px;
    flex-shrink: 0;
    background-image: url(./imagenes/Rectangle\ 5.png);
}

.rectangulo3{
    width: 224px;
    height: 220px;
    flex-shrink: 0;
    background-image: url(./imagenes/Rectangle\ 6.png);
}

.rectangulo4{
    width: 224px;
    height: 220px;
    flex-shrink: 0;
    background-image: url(./imagenes/Rectangle\ 7.png);
}

.rectangulo5{
    width: 224px;
    height: 220px;
    flex-shrink: 0;
    background-image: url(./imagenes/Rectangle\ 8.png);
}

.rectangulo6{
    width: 224px;
    height: 220px;
    flex-shrink: 0;
    background-image: url(./imagenes/Rectangle\ 9.png);
}

.rectangulo7{
    width: 224px;
    height: 220px;
    flex-shrink: 0;
    background-image: url(./imagenes/Rectangle\ 10.png);
}

.rectangulo8{
    width: 224px;
    height: 220px;
    flex-shrink: 0;
    background-image: url(./imagenes/Rectangle\ 11.png);
}

.fila1{
    display: flex;
    padding-left: 25px;
    margin-top: 30px;
}

.fila2{
    display: flex;
    padding-left: 25px;

}

.fondomorado{
    width: 178px;
    height: 174px;
    margin-left: 23px;
    margin-top: 21px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(109, 10, 211, 0.80)
    
}

.division1{
    font-size: 18px;
    margin-left: 10px;
}

.division2{
    font-size: 13px;
    margin-top: 20px;
    margin-left: 10px;
}

.division3{
    font-size: 13px;
    margin-top: 1px;
    margin-left: 10px;
}



.division4{
    width: 45px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #D1FFA2;
    color: #580AAF;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    margin-left: 10px;
    margin-top: 40px;

}

.division5{
    width: 33px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #D1FFA2;
    color: #580AAF;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    margin-left: 71px;
    margin-top: -19px;


}

.division6{
    width: 30px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #D1FFA2;
    color: #580AAF;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    margin-left: 120px;
    margin-top: -20px;


}

.division7{
    width: 64px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #D1FFA2;
    color: #580AAF;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    margin-top: 2px;
    margin-left: 7px;


}

.division8{
    width: 68px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #D1FFA2;
    color: #580AAF;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    margin-top: -19px;
    margin-left: 85px;
}
.emailContent{
    display: flex;
}
.emailSus{
    background-color: #5A0CB0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: azure;
    font-size: 10px;
}
.producto{
    height: 300px;
    width: 900px;
   
    display: flex;
    
}
.divisonDiv{
    width: 220px;


}

.imagenA{
    background-image: url("./Imagenes2/imagen1.jpg") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: #6D0AD3 solid 3px;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    margin-top: 20px;
}
.bloqueA{
    display: flex;
    justify-content: center;
}
.parteA{
    display:flex;
    flex-direction: column;

    width: 120px;
}
.parteA h4{
    color: black;
    margin-left: 10px;
}
.parteA a{
    margin-left: 10px;
}
.parteA p {
    max-width: 100%; /* Limita el ancho del párrafo al ancho del contenedor */
    box-sizing: border-box; /* Incluye el padding y border en el ancho del párrafo */
    
}
.bloqueB{
   display: flex;
   align-items: center;

}
.parteB{
    display:flex;
    flex-direction: column;
    width: 250px;
    height: 200px;
}
.parteB h4{
    color: black;
    margin-top: -10px;
}
.parteB p {
    max-width: 100%; /* Limita el ancho del párrafo al ancho del contenedor */
    box-sizing: border-box; /* Incluye el padding y border en el ancho del párrafo */
    padding-top: 10px;
    padding-bottom: 10px;
}
.imagenB{
    background-image: url("./Imagenes2/imagen2.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    border: yellow solid 3px;

    height: 150px;
}
.imagenB2{
    background-image: url("./Imagenes2/imagen3.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    border: yellow solid 3px;
    background-position: center;;
    height: 500px;
}
.imagenC{
    margin-top: 25px;
    background-image: url("./Imagenes2/imagen6.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;;
    border: yellow solid 3px;
    height: 150px;
}
.parteC{
    display:flex;
    flex-direction: column;
    width: 250px;
    height: 200px;
}
.parteC p {
    max-width: 100%; /* Limita el ancho del párrafo al ancho del contenedor */
    box-sizing: border-box; /* Incluye el padding y border en el ancho del párrafo */
    padding-top: 10px;
    padding-bottom: 10px;
}
.parteC h4{
color: black;
}
.parteC p {
    max-width: 100%; /* Limita el ancho del párrafo al ancho del contenedor */
    box-sizing: border-box; /* Incluye el padding y border en el ancho del párrafo */
    
}
.imagenD2{
    display: flex;

}
.imagenD2 input{
    width: 100px;
    height: 40px;
}
.buttonD2{
    background-color: #6D0AD3;
    text-align: center;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.buttonD3{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.parteD{
    display:flex;
    flex-direction: column;
    width: 120px;
    height: 220px;
}
.parteD p {
    max-width: 100%; /* Limita el ancho del párrafo al ancho del contenedor */
    box-sizing: border-box; /* Incluye el padding y border en el ancho del párrafo */
    margin-left: -1px;
}


.parteD h4{
color: black;
}
.TituloB{
    padding-left: 300px;
}